extends layout

block content
  h1= team.title
  h5 Written by #{author}
  p= team.body
  hr
  if user
    if user.id ==team.author
      a.btn.btn-default(href='/teams/edit/'+team._id) Edit 
      a.btn.btn-danger.delete-team(href='#',data-id=team._id) Delete
  
